<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Spl -->
      <package
            uri="http://www.gravity-tool.org/typegraph/spl"
            class="org.gravity.typegraph.spl.SplPackage"
            genModel="model/Spl.genmodel"/>
   </extension>
   <extension point="org.gravity.tgg.modisco.pm.ProcessingPgFwd">
      <processor priority="10" processor="org.gravity.typegraph.spl.ProgramGraphProcessor"/>
   </extension>
</plugin>
