<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.refactorings.RefactoringsPackage" genModel="model/Refactorings.genmodel" uri="platform:/plugin/org.gravity.refactorings/model/Refactorings.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.refactorings.configuration.ConfigurationPackage" genModel="model/Refactorings.genmodel" uri="platform:/plugin/org.gravity.refactorings/model/Refactorings.ecore#//configuration"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.refactorings.containers.ContainersPackage" genModel="model/Refactorings.genmodel" uri="platform:/plugin/org.gravity.refactorings/model/Refactorings.ecore#//containers"/>
  </extension>
</plugin>
