[submodule "implementation"]
	path = implementation
	url = https://github.com/GRaViTY-Tool/gravity-implementation.git
[submodule "build"]
	path = build
	url = https://github.com/GRaViTY-Tool/gravity-build.git
[submodule "evaluation-data"]
	path = evaluation-data
	url = https://github.com/GRaViTY-Tool/gravity-evaluation-data.git
[submodule "evaluation"]
	path = evaluation
	url = https://github.com/GRaViTY-Tool/gravity-evaluation.git
	branch = master
