<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MoDiscoTGG.MoDiscoTGGPackage" genModel="model/MoDiscoTGG.genmodel" uri="platform:/plugin/MoDiscoTGG/model/MoDiscoTGG.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MoDiscoTGG.Rules.RulesPackage" genModel="model/MoDiscoTGG.genmodel" uri="platform:/plugin/MoDiscoTGG/model/MoDiscoTGG.ecore#//Rules"/>
  </extension>
</plugin>
