<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension-point id="patcher" name="GravityModiscoModelPatcher" schema="schema/patcher.exsd"/>
  <extension-point id="ProcessingModiscoFwd" name="org.gravity.modisco.processing.fwd" schema="schema/ProcessingModiscoFwd.exsd"/>
  <extension point="org.eclipse.emf.ecore.factory_override">
    <factory class="org.gravity.modisco.GravityMoDiscoFactoryImpl" uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java"/>
  </extension>
  <extension point="org.gravity.modisco.ProcessingModiscoFwd">
    <processor priority="0" processor="org.gravity.modisco.processing.fwd.dataflow.DataFlowProcessor"/>
    <processor priority="0" processor="org.gravity.modisco.processing.fwd.VisibilityRepairPreprocessor"/>
    <processor priority="0" processor="org.gravity.modisco.processing.fwd.StaticTypePreprocessing"/>
    <processor priority="1" processor="org.gravity.modisco.processing.fwd.TypeDeclarationStatementPreprocessor"/>
    <processor priority="2" processor="org.gravity.modisco.processing.fwd.SuperInterfacePreprocessing"/>
    <processor priority="6" processor="org.gravity.modisco.processing.fwd.AccessPreprocessing"/>
    <processor priority="8" processor="org.gravity.modisco.processing.fwd.FieldPreprocessing"/>
    <processor priority="9" processor="org.gravity.modisco.processing.fwd.TypeParameterPreprocessor"/>
    <processor priority="9" processor="org.gravity.modisco.processing.fwd.MethodPreprocessing"/>
    <processor priority="10" processor="org.gravity.modisco.processing.fwd.AnonymousClassPreprocessing"/>
  </extension>
  <extension point="org.eclipse.modisco.infra.discovery.core.discoverer">
    <discoverer class="org.gravity.modisco.discovery.GravityModiscoProjectDiscoverer" id="org.gravity.modisco.Discoverer"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.modisco.ModiscoPackage" genModel="model/Modisco.genmodel" uri="http://www.gravity-tool.org/modisco"/>
  </extension>
null
</plugin>
