<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension-point id="patcher" name="GravityModiscoModelPatcher" schema="schema/patcher.exsd"/>
  <extension point="org.eclipse.emf.ecore.factory_override">
    <factory class="org.gravity.modisco.GravityMoDiscoFactoryImpl" uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.modisco.ModiscoPackage" genModel="model/Modisco.genmodel" uri="platform:/plugin/org.gravity.modisco/model/Modisco.ecore"/>
  </extension>
</plugin>
