<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.gravity.security.annotations.check.SecureDependencyCheck"
            createsProblems="true"
            id="org.gravity.security.annotations.check.SecureDependencyCheck"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>
   <extension
         id="org.gravity.security.marker"
         name="GRaViTY Security Violation"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="org.gravity.security.marker.analyzedMember">
      </attribute>
      <attribute
            name="org.gravity.security.marker.secureDependencyRequirement">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.gravity.mainmenu">
        <command
                  commandId="security.annotations.ui.add"
                  label="Add Security Annotations Library"
                  style="push">
        </command>
      </menuContribution>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gravity.security.annotations.ui.SecurityAnnotationsAdditionHandler"
            id="security.annotations.ui.add"
            name="Add Security Annotations Library">
         <defaultHandler
               class="org.gravity.security.annotations.ui.SecurityAnnotationsAdditionHandler">
         </defaultHandler>
      </command>
    </extension>
    
     <extension point="org.eclipse.jdt.ui.quickFixProcessors">
	  <quickFixProcessor
	   id="org.eclipse.jdt.ui.text.correction.QuickFixProcessor"
	   name="GRaViTY Security Annotations Quick Fix Processor"
	   class="org.gravity.security.annotations.ui.SecurityAnnotationsQuickFixProcessor">
	   <handledMarkerTypes>
	      <markerType id="org.gravity.security.marker"/>
	   </handledMarkerTypes>
	  </quickFixProcessor>
	 </extension>
</plugin>
