<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.gravity.mainmenu">
        <menu
              label="ARTE">
           <command
                 commandId="arte.ui.commands.new"
                 label="Create new ARTE test case"
                 style="push">
           </command>
           <command
                 commandId="arte.ui.commands.run"
                 label="Execute selected ARTE tests "
                 style="push">
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.gravity.arte.ui.handler.ARTENewHandler"
           id="arte.ui.commands.new"
           name="ARTENew">
        <defaultHandler
              class="org.gravity.arte.ui.handler.ARTENewHandler">
           <parameter
                 name="ARTE4GRaViTY.parameter1"
                 value="ARTE4GRaViTY.parameter1">
           </parameter>
        </defaultHandler>
     </command>
     <command
           defaultHandler="org.gravity.arte.ui.handler.ARTERunHandler"
           id="arte.ui.commands.run"
           name="ARTERun">
        <defaultHandler
              class="org.gravity.arte.ui.handler.ARTERunHandler">
           <parameter
                 name="ARTE4GRaViTY.parameter2"
                 value="ARTE4GRaViTY.parameter2">
           </parameter>
        </defaultHandler>
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           class="org.gravity.arte.ui.wizards.ARTETestFileWizard"
           id="arte.wizards.TTCTestFileWizardf"
           name="ARTE Test File">
        <description>
           Create a new Test File for ARTE
        </description>
     </wizard>
  </extension>

</plugin>
