<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="org.gravity.tgg.pm.uml.CorrespondenceGraphGenHandler" id="org.gravity.tgg.command.corr" name="Generate UML PM Correspondence Model"/>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.gravity.mainmenu">
      <command commandId="org.gravity.tgg.command.corr" label="Generate UML PM Correspondence Model" style="push"/>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.tgg.pm.uml.UmlPackage" genModel="model/Uml.genmodel" uri="platform:/plugin/org.gravity.tgg.pm.uml/model/Uml.ecore"/>
  </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Uml -->
      <package
            uri="platform:/plugin/org.gravity.tgg.pm.uml/model/Uml.ecore"
            class="org.gravity.tgg.pm.uml.UmlPackage"
            genModel="model/Uml.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Uml -->
      <parser
            type="uml"
            class="org.gravity.tgg.pm.uml.util.UmlResourceFactoryImpl"/>
   </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.tgg.pm.uml.Rules.RulesPackage" genModel="model/Uml.genmodel" uri="platform:/plugin/org.gravity.tgg.pm.uml/model/Uml.ecore#//Rules"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Uml -->
      <parser
            type="rules"
            class="org.gravity.tgg.pm.uml.Rules.util.RulesResourceFactoryImpl"/>
   </extension>
</plugin>
