<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Annotations -->
      <package
            uri="http://gravity-tool.org/typegraph/annotations/security"
            class="org.gravity.security.annotations.AnnotationsPackage"
            genModel="model/Annotations.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Annotations -->
      <package
            uri="http://gravity-tool.org/typegraph/annotations/security#/access"
            class="org.gravity.security.annotations.access.AccessPackage"
            genModel="model/Annotations.genmodel"/>
   </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
    		class="org.gravity.security.annotations.requirements.RequirementsPackage" 
    		genModel="model/Annotations.genmodel" 
    		uri="platform:/plugin/org.gravity.security.annotations/model/Annotations.ecore#/requirements"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Annotations -->
      <package
            uri="http://gravity-tool.org/typegraph/annotations/security#/actions"
            class="org.gravity.security.annotations.actions.ActionsPackage"
            genModel="model/Annotations.genmodel"/>
   </extension>
   <extension
         point="org.gravity.tgg.modisco.pm.ProcessingPgFwd">
      <processor
            priority="1"
            processor="org.gravity.security.annotations.SecurityAnnotationsProcessorFwd">
      </processor>
   </extension>
</plugin>
