<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.gravity.headless"/>
        <setEntry value="org.gravity.headless.tests"/>
        <setEntry value="org.gravity.hulk.annotations"/>
        <setEntry value="org.gravity.hulk.refactoringgraph"/>
        <setEntry value="org.gravity.hulk.resolve"/>
        <setEntry value="org.gravity.hulk.tests"/>
        <setEntry value="org.gravity.hulk.ui"/>
        <setEntry value="org.gravity.hulk.ui.visualization"/>
        <setEntry value="org.gravity.metrics.sourcemeter"/>
        <setEntry value="org.gravity.refactorings"/>
        <setEntry value="org.gravity.refactorings.tests"/>
        <setEntry value="org.gravity.refactorings.ui"/>
        <setEntry value="org.gravity.security.metrics"/>
        <setEntry value="org.gravity.tgg.modisco.ui"/>
        <setEntry value="org.gravity.tgg.tests"/>
        <setEntry value="org.gravity.typegraph.basic.tests"/>
        <setEntry value="org.gravity.typegraph.basic.ui"/>
        <setEntry value="org.gravity.uml.papyrus"/>
        <setEntry value="org.gravity.umlsecrt.adapt"/>
        <setEntry value="org.gravity.umlsecrt.editor"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.gravity.security.violation.patterns.tests"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=org.gravity.security.violation.patterns.tests"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.gravity.security.violation.patterns.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.epp.package.modeling.product"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="MocaTree@default:default"/>
        <setEntry value="SDMLanguage@default:default"/>
        <setEntry value="bcpg@default:default"/>
        <setEntry value="bcpkix@default:default"/>
        <setEntry value="biz.aQute.bnd.util@default:default"/>
        <setEntry value="biz.aQute.bndlib@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="jakarta.ejb-api@default:default"/>
        <setEntry value="jakarta.enterprise.cdi-api@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jakarta.interceptor-api@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="jakarta.transaction-api@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javaewah@default:default"/>
        <setEntry value="javax.activation*2.0.0.v20221112-0806@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.mail.glassfish@default:default"/>
        <setEntry value="javax.persistence@default:default"/>
        <setEntry value="javax.transaction@default:false"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="junit-platform-commons@default:default"/>
        <setEntry value="junit-platform-engine@default:default"/>
        <setEntry value="junit-platform-launcher@default:default"/>
        <setEntry value="lpg.runtime.java@default:default"/>
        <setEntry value="net.i2p.crypto.eddsa@default:default"/>
        <setEntry value="org.aopalliance@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.commons-io*2.13.0@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.juli.extras@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.sshd.osgi@default:default"/>
        <setEntry value="org.apache.sshd.sftp@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.apiguardian.api@default:default"/>
        <setEntry value="org.eclipse.acceleo.common@default:default"/>
        <setEntry value="org.eclipse.acceleo.engine@default:default"/>
        <setEntry value="org.eclipse.acceleo.model@default:default"/>
        <setEntry value="org.eclipse.acceleo.profiler@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.linux@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.debug.ui@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.progress@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.codegen@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.compare@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emf.henshin.interpreter@default:default"/>
        <setEntry value="org.eclipse.emf.henshin.model@default:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore2xml@default:default"/>
        <setEntry value="org.eclipse.emf.mwe.core@default:default"/>
        <setEntry value="org.eclipse.emf.mwe.utils@default:default"/>
        <setEntry value="org.eclipse.emf.mwe2.language@default:default"/>
        <setEntry value="org.eclipse.emf.mwe2.launch@default:default"/>
        <setEntry value="org.eclipse.emf.mwe2.runtime@default:default"/>
        <setEntry value="org.eclipse.emf.transaction@default:default"/>
        <setEntry value="org.eclipse.emf.validation@default:default"/>
        <setEntry value="org.eclipse.emf.workspace@default:default"/>
        <setEntry value="org.eclipse.emf@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:false"/>
        <setEntry value="org.eclipse.equinox.security.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.gmf.runtime.common.core@default:default"/>
        <setEntry value="org.eclipse.gmf.runtime.emf.clipboard.core@default:default"/>
        <setEntry value="org.eclipse.gmf.runtime.emf.commands.core@default:default"/>
        <setEntry value="org.eclipse.gmf.runtime.emf.core@default:default"/>
        <setEntry value="org.eclipse.gmf.runtime.emf.type.core@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.apt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.core.compiler.batch@default:default"/>
        <setEntry value="org.eclipse.jdt.core.manipulation@default:default"/>
        <setEntry value="org.eclipse.jdt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.jdt.ui@default:default"/>
        <setEntry value="org.eclipse.jetty.osgi-servlet-api@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.jgit.gpg.bc@default:false"/>
        <setEntry value="org.eclipse.jgit.ssh.apache.agent@default:false"/>
        <setEntry value="org.eclipse.jgit.ssh.apache@default:default"/>
        <setEntry value="org.eclipse.jgit@default:default"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc@default:default"/>
        <setEntry value="org.eclipse.lsp4j@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.common@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.core.emf@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.core@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.drivers.emf4atl@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.dsls@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.emftvm.trace@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.emftvm@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.engine.emfvm@default:default"/>
        <setEntry value="org.eclipse.m2m.atl.engine.vm@default:default"/>
        <setEntry value="org.eclipse.m2m.atl@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.common.core@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.util.core@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.util.emf.catalog.metamodel@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.util.emf.catalog@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.util.emf.core@default:default"/>
        <setEntry value="org.eclipse.modisco.facet.util.pde.core@default:default"/>
        <setEntry value="org.eclipse.modisco.infra.common.core@default:default"/>
        <setEntry value="org.eclipse.modisco.infra.discovery.core@default:default"/>
        <setEntry value="org.eclipse.modisco.infra.discovery@default:default"/>
        <setEntry value="org.eclipse.modisco.java.discoverer@default:default"/>
        <setEntry value="org.eclipse.modisco.java.generation@default:default"/>
        <setEntry value="org.eclipse.modisco.java@default:default"/>
        <setEntry value="org.eclipse.modisco.kdm.source.discoverer@default:default"/>
        <setEntry value="org.eclipse.modisco.kdm.source.extension@default:default"/>
        <setEntry value="org.eclipse.modisco.omg.kdm@default:default"/>
        <setEntry value="org.eclipse.modisco.util.atl.core@default:default"/>
        <setEntry value="org.eclipse.ocl.common@default:default"/>
        <setEntry value="org.eclipse.ocl.ecore@default:default"/>
        <setEntry value="org.eclipse.ocl@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.custom.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.custom.metamodel@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.efacet.catalog@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.efacet.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.efacet.metamodel@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.efacet@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.util.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.util.emf.catalog@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.util.emf.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf.facet.util.pde.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.emf@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.core.architecture@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.core.log@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.core.sashwindows.di@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.core@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.emf@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.services.controlmode.history@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.services.resourceloading@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.tools@default:default"/>
        <setEntry value="org.eclipse.papyrus.infra.types@default:default"/>
        <setEntry value="org.eclipse.pde.build@default:default"/>
        <setEntry value="org.eclipse.pde.core@default:default"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.search@default:default"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.team.ui@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.ide.application@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.uml2.common@default:default"/>
        <setEntry value="org.eclipse.uml2.types@default:default"/>
        <setEntry value="org.eclipse.uml2.uml.profile.standard@default:default"/>
        <setEntry value="org.eclipse.uml2.uml.resources@default:default"/>
        <setEntry value="org.eclipse.uml2.uml@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.common.types@default:default"/>
        <setEntry value="org.eclipse.xtext.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.logging@default:false"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.gervarro.eclipse.workspace.util@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.moflon.core.dfs@default:default"/>
        <setEntry value="org.moflon.core.propertycontainer@default:default"/>
        <setEntry value="org.moflon.core.utilities@default:default"/>
        <setEntry value="org.moflon.emf.injection.ide@default:default"/>
        <setEntry value="org.moflon.emf.injection@default:default"/>
        <setEntry value="org.moflon.tgg.language@default:default"/>
        <setEntry value="org.moflon.tgg.runtime@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.opentest4j@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.repository@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.simple@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="PrivacyE2E-ConceptualModel@default:default"/>
        <setEntry value="carisma.check.activity2petrinet@default:default"/>
        <setEntry value="carisma.check.activitypaths@default:default"/>
        <setEntry value="carisma.check.dummy@default:default"/>
        <setEntry value="carisma.check.idschecks@default:default"/>
        <setEntry value="carisma.check.oclcheck@default:default"/>
        <setEntry value="carisma.check.parametertest@default:default"/>
        <setEntry value="carisma.check.rabac@default:default"/>
        <setEntry value="carisma.check.requirescheck@default:default"/>
        <setEntry value="carisma.check.sequencediagramcrypto@default:default"/>
        <setEntry value="carisma.check.smartcard.evolution@default:default"/>
        <setEntry value="carisma.check.smartcard@default:default"/>
        <setEntry value="carisma.check.statemachinepaths@default:default"/>
        <setEntry value="carisma.check.staticcheck.evolution@default:default"/>
        <setEntry value="carisma.check.staticcheck@default:default"/>
        <setEntry value="carisma.check.template@default:default"/>
        <setEntry value="carisma.core@default:default"/>
        <setEntry value="carisma.evolution.uml2.umlchange.ui@default:default"/>
        <setEntry value="carisma.evolution.uml2.umlchange@default:default"/>
        <setEntry value="carisma.evolution.uml2@default:default"/>
        <setEntry value="carisma.evolution@default:default"/>
        <setEntry value="carisma.modeltype.uml2@default:default"/>
        <setEntry value="carisma.ocl.library.edit@default:default"/>
        <setEntry value="carisma.ocl.library.editor@default:default"/>
        <setEntry value="carisma.ocl.library@default:default"/>
        <setEntry value="carisma.ocl@default:default"/>
        <setEntry value="carisma.profile.umlchange@default:default"/>
        <setEntry value="carisma.profile.umlsec.rabac@default:default"/>
        <setEntry value="carisma.profile.umlsec.umlsec4ids@default:default"/>
        <setEntry value="carisma.profile.umlsec@default:default"/>
        <setEntry value="carisma.ui.console@default:default"/>
        <setEntry value="carisma.ui.eclipse.descriptor@default:false"/>
        <setEntry value="carisma.ui.eclipse@default:default"/>
        <setEntry value="org.gravity.eclipse.tests@default:default"/>
        <setEntry value="org.gravity.eclipse.ui@default:default"/>
        <setEntry value="org.gravity.eclipse@default:default"/>
        <setEntry value="org.gravity.hulk.antipatterngraph@default:default"/>
        <setEntry value="org.gravity.hulk@default:default"/>
        <setEntry value="org.gravity.mapping.secdfd.eval@default:default"/>
        <setEntry value="org.gravity.mapping.secdfd.tests@default:default"/>
        <setEntry value="org.gravity.mapping.secdfd@default:default"/>
        <setEntry value="org.gravity.model.security@default:default"/>
        <setEntry value="org.gravity.model.system@default:default"/>
        <setEntry value="org.gravity.modisco@default:default"/>
        <setEntry value="org.gravity.parser.jdt.pm@default:default"/>
        <setEntry value="org.gravity.pm.multimodule@default:default"/>
        <setEntry value="org.gravity.seclan.eval@default:default"/>
        <setEntry value="org.gravity.security.annotations.check@default:default"/>
        <setEntry value="org.gravity.security.annotations.pm@default:default"/>
        <setEntry value="org.gravity.security.annotations.ui@default:default"/>
        <setEntry value="org.gravity.security.language.ide@default:default"/>
        <setEntry value="org.gravity.security.language.instances.ui@default:default"/>
        <setEntry value="org.gravity.security.language.instances@default:default"/>
        <setEntry value="org.gravity.security.language.proposals.tests@default:default"/>
        <setEntry value="org.gravity.security.language.proposals@default:default"/>
        <setEntry value="org.gravity.security.language.tests@default:default"/>
        <setEntry value="org.gravity.security.language.ui.tests@default:default"/>
        <setEntry value="org.gravity.security.language.ui@default:default"/>
        <setEntry value="org.gravity.security.language@default:default"/>
        <setEntry value="org.gravity.security.lsp.product@default:default"/>
        <setEntry value="org.gravity.security.tests@default:default"/>
        <setEntry value="org.gravity.security.violation.patterns.tests@default:default"/>
        <setEntry value="org.gravity.security.violation.patterns@default:default"/>
        <setEntry value="org.gravity.tgg.modisco.pm@default:default"/>
        <setEntry value="org.gravity.tgg.modisco.uml@default:default"/>
        <setEntry value="org.gravity.tgg.pm.uml@default:default"/>
        <setEntry value="org.gravity.typegraph.basic@default:default"/>
        <setEntry value="org.secdfd.dsl.ide@default:default"/>
        <setEntry value="org.secdfd.dsl.tests@default:default"/>
        <setEntry value="org.secdfd.dsl.ui.tests@default:default"/>
        <setEntry value="org.secdfd.dsl.ui@default:default"/>
        <setEntry value="org.secdfd.dsl@default:default"/>
        <setEntry value="org.secdfd.model.edit@default:default"/>
        <setEntry value="org.secdfd.model.editor@default:default"/>
        <setEntry value="org.secdfd.model.tests@default:default"/>
        <setEntry value="org.secdfd.model@default:default"/>
        <setEntry value="org.seclan.importer@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
