<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Basic -->
      <package
            uri="platform:/plugin/org.gravity.typegraph.basic/model/Basic.ecore"
            class="org.gravity.typegraph.basic.BasicPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Basic -->
      <package
            uri="platform:/plugin/org.gravity.typegraph.basic/model/Basic.ecore#//containers"
            class="org.gravity.typegraph.basic.containers.ContainersPackage"/>
   </extension>

</plugin>
