<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gravity.security.analysis.handlers.PublicInterfacesAccessHandler"
            id="org.gravity.security.analysis.commands.publicinterfaces"
            name="Public Interface Access">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.gravity.mainmenu">
         <command
               commandId="org.gravity.security.analysis.commands.publicinterfaces"
               label="Public Interface Access"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="org.gravity.mainmenu">
         <command
               commandId="org.gravity.security.analysis.commands.publicinterfaces"
               label="Public Interface Access"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="org.gravity.security.analysis.menuContribution1">
         <command
               commandId="org.gravity.security.analysis.commands.publicinterfaces"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
