<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.gravity.hulk.ui.visualization.ui.views.HulkViews"
            name="Hulk views">
      </category>
      <view
            category="org.gravity.hulk.ui.visualization.ui.views.HulkViews"
            class="org.gravity.hulk.ui.visualization.views.TheBlobInformationView"
            id="org.gravity.hulk.ui.visualization.views.TheBlobInformationView"
            name="The Blob Information View"
            restorable="true">
      </view>
      <view
            category="org.gravity.hulk.ui.visualization.ui.views.HulkViews"
            class="org.gravity.hulk.ui.visualization.views.AntiPatternMarkerView"
            id="org.gravity.hulk.ui.visualization.views.AntiPatternMarkersView"
            name="Antipattern Marker View"
            restorable="true">
      </view>
      <view
            category="org.gravity.hulk.ui.visualization.ui.views.HulkViews"
            class="org.gravity.hulk.ui.visualization.views.SwissArmyKnifInformationView"
            id="org.gravity.hulk.ui.visualization.views.SwissArmyKnifeInformationView"
            name="Swiss Army Knife information view"
            restorable="true">
      </view>
      <view
            category="org.gravity.hulk.ui.visualization.ui.views.HulkViews"
            class="org.gravity.hulk.ui.visualization.views.SpaghettiCodeInformationView"
            id="org.gravity.hulk.ui.visualization.views.SpaghettiCodeInformationView"
            name="Spaghetti Code information view"
            restorable="true">
      </view>
   </extension>
   <extension
         id="HGodClassAntiPatternMarker"
         name="GodClassMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HControllerClassSmellMarker"
         name="ControllerClassSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HInvocationRelationSmellMarker"
         name="InvocationRelationSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HLargeClassLowCohesionSmellMarker"
         name="LargeClassLowCohesionSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HDataClassSmellMarker"
         name="DataClassSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HGetterSetterSmellMarker"
         name="GetterSetterSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HLargeClassSmellMarker"
         name="LargeClassSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HLowCohesionSmellMarker"
         name="LowCohesionSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HBlobAntiPatternMarker"
         name="TheBlobMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HSwissArmyKnifeAntiPatternMarker"
         name="Swiss"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HMuchOverloadingCodeSmellMarker"
         name="MuchOverloadingCodeSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HAverageOverloadingInClassMetricMarker"
         name="HAverageOverloadingInClassMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HSpaghettiCodeAntiPatternMarker"
         name="HSpaghettiCodeAntiPatternMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HIntensiveFieldUsageCodeSmellMarker"
         name="HIntensiveFieldUsageCodeSmellMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HAverageParametersMetricMarker"
         name="HAverageParametersMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HNumberOfChildMetricMarker"
         name="HNumberOfChildMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HDepthOfInheritanceMetricMarker"
         name="HDepthOfInheritanceMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HLocalAccessRelationMetricMarker"
         name="HLocalAccessRelationMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HLocalFieldAccessesMetricMarker"
         name="HLocalFieldAccessesMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            defaultMarkerGrouping="org.gravity.hulk.ui.visualization.ui.markerGrouping3"
            id="org.gravity.hulk.ui.visualization.markerContentGenerator"
            name="Marker Content Generator">
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HBlobAntiPatternMarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HControllerClassSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HDataClassSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HGetterSetterSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HGodClassAntiPatternMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HInvocationRelationSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLargeClassLowCohesionSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLargeClassSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLowCohesionSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HMuchOverloadingCodeSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HSwissArmyKnifeAntiPatternMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HAverageOverloadingInClassMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HSpaghettiCodeAntiPatternMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HIntensiveFieldUsageCodeSmellMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HAverageParametersMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HNumberOfChildMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HDepthOfInheritanceMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLocalAccessRelationMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLocalFieldAccessesMetricMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HLocalMethodAccessesMetricMarker">
         </markerTypeReference>
         <markerGrouping
               id="org.gravity.hulk.ui.visualization.markerGrouping1"
               label="Type">
            <markerGroupingEntry
                  id="org.gravity.hulk.ui.visualization.markerGroupingEntry1"
                  label="type"
                  priority="10">
            </markerGroupingEntry>
            <markerAttributeGrouping
                  attribute="org.eclipse.core.resources.marker"
                  defaultGroupingEntry="org.gravity.hulk.ui.visualization.ui.markerGroupingEntry1"
                  markerType="org.eclipse.core.resources.problemmarker">
            </markerAttributeGrouping>
         </markerGrouping>
         <markerTypeReference
               id="org.gravity.hulk.ui.visualization.HDataClassAccessorMarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.gravity.hulk.ui.visualization.markerFields.ClassNameField"
               visible="true">
         </markerFieldReference>
      </markerContentGenerator>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter1"
            name="TheBlob markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HBlobAntiPatternMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter2"
            name="ControllerClassSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HControllerClassSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter3"
            name="DataClassSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HDataClassSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter4"
            name="GetterSetterSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HGetterSetterSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter5"
            name="GodClassAntiPattern markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HGodClassAntiPatternMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter6"
            name="InvocationRelationSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HInvocationRelationSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter7"
            name="LargeClassLowCohesionSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLargeClassLowCohesionSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter8"
            name="LargeClassSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLargeClassSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter9"
            name="LowCohesionSmell markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLowCohesionSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter10"
            name="Spaghetti Code markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HSpaghettiCodeAntiPatternMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter11"
            name="Intensive Field Usage markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HIntensiveFieldUsageCodeSmellMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter12"
            name="Average Parameters markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HAverageParametersMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter13"
            name="Number Of Child markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HNumberOfChildMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter14"
            name="Depth Of Inheritance markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HDepthOfInheritanceMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter15"
            name="Local Access  Relation markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLocalAccessRelationMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter16"
            name="Local Field Access markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLocalFieldAccessesMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter17"
            name="Local Method Access markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HLocalMethodAccessesMetricMarker">
         </selectedType>
      </problemFilter>
      <problemFilter
            id="org.gravity.hulk.ui.visualization.problemFilter18"
            name="DataClassAccessor markers">
         <selectedType
               markerId="org.gravity.hulk.ui.visualization.HDataClassAccessorMarker">
         </selectedType>
      </problemFilter>
      <markerField
            class="org.gravity.hulk.ui.visualization.markerFields.ClassNameField"
            id="org.gravity.hulk.ui.visualization.markerFields.ClassNameField"
            name="Class">
      </markerField>
   </extension>
   <extension
         id="HLocalMethodAccessesMetricMarker"
         name="HLocalMethodAccessesMetricMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="HDataClassAccessorMarker"
         name="HDataClassAccessorMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.gravity.hulk.ui.visualization.DetectionMarker">
      </super>
   </extension>
   <extension
         id="DetectionMarker"
         name="DetectionMarker"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="org.gravity.hulk.ui.visualization.ui.className">
      </attribute>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.gravity.hulk.menu">
            <menu               
            		label="Open view">            
	            <menu
	            		label="Open information view">
	            	<command
	            		commandId="hulk.visualization.ui.openTheBlobInformationView"
						label="Open The Blob information view"
						style="push">
					</command>
					<command
						commandId="hulk.visualization.ui.openSwissArmyKnifeInformationView"
						label="Open Swiss Army Knife information view"
						style="push">
					</command>
					<command
						commandId="hulk.visualization.ui.openSpaghettiCodeInformationView"
						label="OpenSpaghetti Code information view"
						style="push">
					</command>
				</menu>
				<command
					commandId="hulk.visualization.ui.openAntiPatternMarkerView"
					label="Open AntiPattern Marker view"
					style="push">
				</command>
			</menu>
			<command
				commandId="hulk.visualization.ui.loadAntiPatternXmi"
				label="Load visualisation on project"
				style="push">
			</command>
      </menuContribution>
    </extension>
	<extension point="org.eclipse.ui.commands"> 
		<command
				id="hulk.visualization.ui.openTheBlobInformationView"
				name="Open The Blob information view">
			<defaultHandler
					class="org.gravity.hulk.ui.visualization.handlers.TheBlobInformationHandler">
				<parameter
					name="org.gravity.hulk.ui.parameter1"
					value="org.gravity.hulk.ui.parameter1">
				</parameter>
			</defaultHandler>
		</command>
		<command
				id="hulk.visualization.ui.openAntiPatternMarkerView"
				name="Open AntiPattern Marker view">
			<defaultHandler
					class="org.gravity.hulk.ui.visualization.handlers.AntiPatternMarkersViewHandler">
				<parameter
					name="org.gravity.hulk.ui.parameter1"
					value="org.gravity.hulk.ui.parameter1">
				</parameter>
			</defaultHandler>
		</command>
		<command
				id="hulk.visualization.ui.openSwissArmyKnifeInformationView"
				name="Open Swiss Army Knife information view">
			<defaultHandler
					class="org.gravity.hulk.ui.visualization.handlers.SwissArmyKnifeInformationHandler">
				<parameter
					name="org.gravity.hulk.ui.parameter1"
					value="org.gravity.hulk.ui.parameter1">
				</parameter>
			</defaultHandler>
		</command>
		<command
				id="hulk.visualization.ui.openSpaghettiCodeInformationView"
				name="OpenSpaghetti Code information view">
			<defaultHandler
					class="org.gravity.hulk.ui.visualization.handlers.SpaghettiCodeInformationHandler">
				<parameter
					name="org.gravity.hulk.ui.parameter1"
					value="org.gravity.hulk.ui.parameter1">
				</parameter>
			</defaultHandler>
		</command>
		<command
				id="hulk.visualization.ui.loadAntiPatternXmi"
				name="Load visualisation on project">
			<defaultHandler
					class="org.gravity.hulk.ui.visualization.handlers.OpenAntipatternXmiHandler">
				<parameter
					name="org.gravity.hulk.ui.parameter1"
					value="org.gravity.hulk.ui.parameter1">
				</parameter>
			</defaultHandler>
		</command>
	</extension>
   
</plugin>
