<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.tgg.modisco.uml.UmlPackage" genModel="model/Uml.genmodel" uri="platform:/plugin/org.gravity.tgg.modisco.uml/model/Uml.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.gravity.tgg.modisco.uml.Rules.RulesPackage" genModel="model/Uml.genmodel" uri="platform:/plugin/org.gravity.tgg.modisco.uml/model/Uml.ecore#//Rules"/>
  </extension>
</plugin>
